* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  color: white;
  padding: 0.5rem;
  overflow: hidden;
}

#spotify-logo {
  transform: scale(1.3);
}

.container {
  display: flex;
  gap: 0.5rem;
}

.left {
  width: 30vw;
  height: 97.7vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

#left-heading {
  justify-content: space-between;
}

#left-heading #cross {
  display: none;
}

.home {
  padding: 1rem 1.5rem;
  border-radius: 7px;
}

.home ul {
  margin-top: 1rem;
}

.icons {
  list-style: none;
  line-height: 42px;
  display: flex;
  gap: 1rem;
}

.library {
  padding: 0.4rem 1rem;
  border-radius: 7px;
  margin-top: 0.5rem;
  flex: 1;
  position: relative;
}

.library-head {
  display: flex;
  justify-content: space-between;
}

.your-library {
  width: 10rem;
  line-height: 42px;
  display: flex;
  gap: 0.4rem;
}

.your-library img {
  transform: scale(0.56);
}

.add-library {
  padding: 8px 0;
  height: 37px;
  width: 22px;
}

.add-library img {
  transform: scale(0.7);
}

.songList {
  max-height: 52vh;
  overflow: scroll;
}

.songList ul {
  padding-right: 10px;
}

.songList ul li {
  display: flex;
  gap: 0.5rem;
  list-style: decimal;
  cursor: pointer;
  padding: 0.7rem 0.5rem;
  border: 1px solid white;
  margin: 12px 0;
  border-radius: 7px;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
  transition: all .4s ease-in-out;
}

.songList li:hover {
  color: #1fdf64;
  border-color: #1fdf64;
  transform: translateY(-5px);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.song-info {
  width: 100%;
}

.songList .song-btn {
  display: flex;
  gap: 11px;
  align-items: center;
  font-size: 11px;
  width: 60%;
  justify-content: flex-end;
}

.songList .song-btn .play-now {
  height: 24px;
  width: 23px;
  padding: 5px 2px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid white;
}

.songList .song-btn .play-now img {
  height: 12px;
  width: 17px;
}

.left-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
}

.left-footer a {
  font-size: 0.8rem;
  text-decoration: none;
  color: grey;
}

.right {
  width: 70vw;
  height: 96vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.right-header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-right: 1rem;
  height: 4rem;
}

.nav-icons {
  width: 8rem;
  height: 5rem;
  padding: 0.5rem 0.6rem;
  text-align: center;
}

.hamBurger {
  display: none;
}

.nav-icons img {
  height: 30px;
  width: 34px;
  padding: 7px;
  background-color: white;
  border-radius: 50%;
}

.right-buttons {
  display: flex;
  gap: 20px;
}

.right-buttons button {
  width: 92px;
  height: 41px;
  border-radius: 30px;
  font-weight: 700;
}

.right-buttons .sign-up {
  background-color: #1a1a1a;
  border: unset;
  color: #a7a7a7;
}

.right-buttons .log-in {
  background-color: white;
  border: unset;
  color: black;
}

.right-buttons .sign-up:hover {
  transform: scale(1.1);
  color: white;
}

.right-buttons .log-in:hover {
  transform: scale(1.1);
}

.right-body {
  background-color: #242424;
  flex: 1;
  max-height: 70vh;
  overflow: auto;
}

.right-body h1 {
  padding: 1.5rem 1rem;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;

}

.card {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 16rem;
  gap: 6px;
  border-radius: 11px;
  margin: 0.5rem 0;
  position: relative;
  min-width: 10rem;
}

.card:hover {
  background-color: #1a1a1a;
}

.card:hover .play-icon {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.card img {
  width: 87%;
  display: inline-flex;
  margin: 0 auto;
  border-radius: 11px;
}

.play-icon {
  position: absolute;
  right: 19px;
  bottom: 98px;
  height: 50px;
  width: 50px;
  padding: 11px 9px;
  background-color: #1fdf64;
  border-radius: 30px;
  text-align: center;
  transform: translateY(12px);
  opacity: 0;
}

.card h4 {
  width: 76%;
  margin-left: 11px;
  font-weight: 400;
}

.card p {
  width: 77%;
  font-size: 13px;
  margin-left: 11px;
}

.playBox {
  display: flex;
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 4.5rem;
  background-color: black;
  padding-top: 1rem;
  gap: 2%;
}

.playBox .songStats,
.songTools {
  width: 24%;
  color: white;
}

.songStats {
  text-align: center;
  display: flex;
  align-items: center;
  transition: all .5s ease-in-out;
}

.songStats:hover {
  color: #1fdf64;
}

.songTools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.songStats p {
  font-size: 13px;
}

.playBox .playBar {
  width: 48%;
}

.playBar {
  height: 100%;
}

.playBar .seekBar {
  height: 5px;
  width: 100%;
  background-color: #545454;
  cursor: pointer;
}

.seekBar .progressMarker {
  height: 12px;
  width: 12px;
  border-radius: 13px;
  background-color: white;
  position: relative;
  bottom: 4px;
  left: 0%;
  transition: left .1s linear;
}

.songButtons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
}

.songButtons>img {
  height: 18px;
  opacity: 0.9;
}

.songPlayBtn {
  height: 37px;
  width: 37px;
  padding: 7px 7px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
}

.songPlayBtn img {
  height: 24px;
  width: 18px;
}